html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-family: sans-serif;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1.5rem;

	border: 1px solid #a9c7ff;
	margin: 2px;

	background-color: #fbfdff;
	background-image: radial-gradient(#2b54a0 0.9500000000000001px, #fbfdff 0.9500000000000001px);
	background-size: 19px 19px;

	border-radius: 0.5rem;

	width: calc(100% - 4px);
	height: calc(100% - 4px);

	box-shadow: inset 0 0 1rem #2b54a02b;
}
